*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
span{
    margin-left: 20px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgb{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgb:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(225deg,#000000,#217906);
    z-index:1;
    mix-blend-mode: screen;

}
section .imgb img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e3ffdb;  
}
section .content .formbx{
    width:50%; 
}
section .content .formbx h2{
    color: #000000;
    font-weight: 600;
    font-size: 1.5 em;
    text-transform: uppercase;
    margin-bottom: 80px;
    border-bottom: 4px solid #7b0000;
    display: inline-block;
    letter-spacing: 1px;
}
section .content .formbx .inputbx{
    margin-bottom: 20px;
}
section .content .formbx .inputbx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    letter-spacing: 1px;
    
}

section .content .formbx .inputbx input{
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    background-color: #e8eeef;
	color:#8a97a0;
}
section .content .formbx .inputbx textarea{
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    resize: none;
    font-weight: 400;
    background-color: #e8eeef;
	color:#8a97a0;
}
section .content .formbx .inputbx input[type ="submit"]
{
    background: rgb(0, 66, 0);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
section .content .formbx .inputbx input[type ="submit" ]:hover
{
    background: #840000;
}

