*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e4dede;
}
.header1{
    height: 140px;
    width: 96%;
    margin-left: 25px;
    background-image: url(img/headback.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
a{
    text-decoration: none;
    color: white;
}
.rel{
    text-decoration: none;
    color: black;
}
.top{
    color: #fff;
    padding: 5px;
}
.toptex{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: 5px;
}
.flag{
    margin-top: -75px;
    margin-right: 20px;
    float: right;
    height: 100px;
}
.tablelog{
    margin-left: 4px;
    margin-top: 4px;
    height: 49px;
    margin-bottom: 4px;
    margin-right: 10px;
}
.heading{
    font-size: 20px;
    color: red;
    border-top: 2px solid red;
}
span{
    margin-right: 15px;
    color: black;
}
.span4{
    margin-right: 15px;
    color: rgb(0, 151, 201);
}
.span5{
    color: #fff;
}

.span0{
    color:#fff
}
table{
    width: 90%;
    height: 30px;
    box-shadow: 0px 0px 2px 0 gray, 0px 1px 0px 0 gray;
}
table ,tr ,td{
    margin-top: 3px;
    font-size: 14px;
    border: 1px groove  rgb(232, 232, 232);
    border-collapse: collapse;
    
}
td{
    text-align: center;
    justify-content: space-between;
    
}
.table1{
    color: red;
    border-top: 2px solid red;
}

a{
    text-decoration: none;
}
.top{
    color: #fff;
}
.header2 ul{
    display: flex;
    margin-left: 30px;
    cursor: pointer;
}
.header2 ul li{
    list-style: none;
    margin-top: 10px;
}

.header2 ul li a{
    font-size: 13px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 300px;
   
}
#logButton{
    width: 80px;
    height: 30px;
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    font-size: 14px;

}
#logButton{
    cursor: pointer;
}
.logo img{
    margin-left: 20px;
    width: 160px;
    margin-top: -20px;
}
.content2 img{
    float: left;
    width: 60px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
}
.down img{
    float: left;
    width: 50px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;

}
.down{
    width: 98%;
    margin-left: 5px;
    margin-top: 4px;
}
.down1{
    text-align: left;
    padding-left: 10px;
}
.pdf{
    width: 40px;
    height: 44px;
    margin: 4px 10px 4px 4px;
}
.btn{
    margin-left: 66px;
    padding: 2px;
    margin-top: -15px;
    color: white;
    background-color: rgb(15, 0, 79);
}
.btn:hover{
    cursor: pointer;
}
.table2{
    margin-left: 2px;
    width: 99%;
    margin-top: 5px;
}
.table5{
    width: 100%;
}
.tab5{
    font-size: 15px;
    text-align: left;
    border-top: rgb(255, 255, 255);
}
.rel:hover{
    color: red;
}
.table3{
    width:98%;
    border: 0.5px solid rgb(193, 193, 193);
    border-left: solid white;
    border-right: solid white;

}
.tab3{
    border: none;
}
.tab4{
    border: none;
    padding-right: 9px;
    text-align: right;
}

.text2{
    text-align: left;
}
.top{
   
    width: 100%;
    
}
.icon-1{
    color: #fff;
}
.logo{
    display: flex;
}
.para{
    margin-left: 70px;
    margin-top: -15px;
    text-align: center;
    font-size: 13px;
    animation: slide 10s infinite;
}

.navbar{
    min-height: 50px;
    width: 96%;
    margin-left: 25px;
    background-color: rgb(0, 66, 0);
}
.latest{
    margin-left: 25px;
    width:96%;
    height: 5vh;
    background-color: rgb(231, 231, 231);
}
.latest1{
    text-align: center;
    width: 10%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 66, 0);
    color: #fff;
}
.banner{
    height: 60vh;
    width: 96%;
    margin-left: 25px;
}
#slideimage{
    width:100%;
    height: 60vh;
    background-size: cover;
    background-position: top center;
}
.riceplant{
    color: black;
}
.riceplant:hover{
    color: red;
}
.main{
    width: 96%;
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color:#fff;
    display: flex;
    
}
.mainn{
    width: 96%;
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color:#fff;
    display: flex;
    margin-top: 10px;
    
}
.main1{
    width: 96%;
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color: #fff;
    display: flex;
    
}
.container1{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 15px;
    width: 36.33%;
    height: 90vh;    
}
.profile1{
    width: 110%;
    height:20vh;
    border-top: 1px solid red;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
    margin-top: 10px;
    margin-bottom: 9px; 
}
.cont3{
    margin-top: 15px;
    margin-left: 50px;
    width:36.33%;
    height: 80vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.container2{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 15px;
    width: 36.33%;
    height: 83vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.container3{
    margin-left: 20px;
    margin-right: 15px;
    width: 36.33%;
    height: 95vh;
    
}
.container4{
    margin-left: 20px;
    margin-right: 15px;
    width: 36.33%;;
    height: 95vh;
}
.container5{
    margin-left: 20px;
    margin-right: 15px;
    width: 23.33%;;
    height: 95vh;
}

.details-cont{
    margin-top: 33px;
    margin-left: 6px;
    width: 98%;
    height: 83vh;
    border: 1px solid black;

}
.detail1{
    height: 7vh;
    width: 100%;
    border: 1px solid black;
}

.container6{
    margin-top: -70px;
    margin-left: 20px;
    margin-right: 15px;
    width: 100%;
    height: 70vh;
    text-align: left;
}
.container7{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    width: 100%;
    height: 65vh;
    border: 1px solid black;
    border-top: 1px solid red;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.gallery1{
    margin-top: -120px;
    margin-left: 12px;
    margin-bottom: 5px;
}
.Gallery{
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 15px;
    border: 2px solid black;
    width: 100%;

}
.shift{
    margin-left: -110px;
}
.shift1{
    margin-left: -210px;
}
.shift2{
    margin-left: -230px;
    margin-bottom: 5px;
}
.shift3{
    margin-left: -170px;
    margin-bottom: 5px;
}
.shift4{
    margin-left: -80px;
    margin-bottom: 5px;
}
h1{
    color: rgb(0, 151, 201);
    font-weight: 300;
    font-size: 22px;
}
.last{
    margin-top: -280px;
    width: 100%;
    height: 50vh;
    background-color: rgb(15, 0, 79);
    display: flex;
    flex-direction: row;
}
.link1{
    width: 100%;
    height: 80vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.link2{
    width: 100%;
    height: 60vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.topmid{
    width: 100%;
    height: 80vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.link3{
    width: 100%;
    height: 40vh;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}

.faq{
    margin-top: 12px;
    width:100%;
    height: 10vh;
    background-color: rgb(0, 66, 0);
    color: #fff;
    box-shadow: 2px 1px 4px 0 gray, 0 4px 5px 0 gray;
}
.span1{
    font-size: 40px;
    margin-left: -15px;
    color: white;
}
.span2{
    font-size: 40px;
    margin-left: -68px;
    color: white;
}
.span3{
    font-size: 40px;
    margin-left: -30px;
    color: white;
}

.center{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
.pub{
    margin-top: 45px;
    margin-left: 14px;
    width: 93%;
    height: 80vh;
    border: 1px solid black;
}
.title{
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
}    

.gall{
    margin-left: 5px;
}
.img1{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 20%;
    height: 53vh;
    background-image: url(img/crop.jpg);
    background-size: cover;
    background-position: top center;

}
.img1:hover{
    height: 55vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.img2 {
    margin-top: 15px;
    margin-left: 15px;
    width: 20%;
    height: 53vh;
    background-image: url(img/Mini.jpg);
    background-size: cover;
    background-position: top center;
}
.img2:hover{
    height: 55vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.img3 {
    margin-top: 15px;
    margin-left: 25px;
    width: 20%;
    height: 53vh;
    margin-right: 15px;
    background-image: url(img/prime.jpeg);
    background-size: cover;
    background-position: top center;
}
.img3:hover{
    height: 55vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.blog{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.blog1{
    background-image: url(img/Blog1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    margin-left: 15px;
    width: 20%;
    height: 53vh;
}
.blog1:hover{
    height: 54vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.blog2{
    background-image: url(img/Bolg2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    margin-left: 15px;
    width: 20%;
    height: 53vh;
}
.blog2:hover{
    height: 55vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.blog3{
    background-image: url(img/Blog3.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    margin-right: 15px;
    width: 20%;
    height: 53vh;
}
.blog3:hover{
    height: 55vh;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0 gray, 0 4px 10px 0 gray;
}
.last1{
    padding: 10px;
    margin-left: 45px;
    width:35%;
    height:40vh;
    
}
.last2{
    margin-left: 20px;
    margin-top: 9px;
    width:57%;

}
h2{
    color: #fff;
    border-bottom: 1px solid #fff;
    
}
h3{
    margin-top: 9px;
    color: #fff;
}
h4{
    margin-top: 9px;
    color: #fff;
}
.map{
    width:100%;
    height: 40vh;
    border: 10px solid rgb(255, 255, 255);
    background-image: url(img/Map.PNG);
    background-size: cover;
    background-position: center;
    
}
.lastline{
    width:100%;
    height: 5vh;
    background-color: rgb(228, 221, 221);
}
.lastinfo{
    margin-top: 4px;
    margin-left: 50px;
    font-size: 13px;
}
.imgbox{
    margin-top: 9px;
    margin-left: 15px;
    width: 25%;
    height: 15vh;
    box-shadow: 1px 1px 3px 0 gray, 0 4px 5px 0 gray;
    border-radius: 60px;
}
.imgbox img{
    width:100%;
    border-radius: 60px;
}
.profiletext{
    color: red;
    margin-left: 120px;
    margin-top: -70px;
}
.profiletext1{
    margin-left: 80px;
}
.profiletext2{
    margin-left: 45px;
}
.profiletext3{
    color: red;
    margin-left: 120px;
    margin-top: -70px;
}
.profiletext4{
    color: red;
    margin-left:45px;
    margin-top: -70px;
}
.profiletext5{
    margin-left: 65px;
}
.outline{
    text-align: center;
    background-color: black;
    height: 7vh;
    border: 1px solid crimson;
    margin-top: 302px;
    margin-left: -1.5px;
    width: 101%;
    color: #fff;
}
.outline1{
    text-align: center;
    background-color: black;
    height: 7vh;
    border: 1px solid crimson;
    margin-top: 300px;
    margin-left: -1.5px;
    width: 101%;
    color: #fff;
}
@keyframes slide {
    0%{margin-right: 100px;}
    50%{margin-left: 100px;}
    100%{margin-right: 100px;}
    
  }